server {{ ntp_server_1 }} iburst
server {{ ntp_server_2 }} iburst
server {{ ntp_server_3 }} iburst

allow 192.168.1.0/28
local stratum 10

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony