$TTL 86400
@   IN  SOA     ns1.{{ dns_domain }}. sshuser.{{ dns_domain }}. (
    2023081501  ; Serial
    3600        ; Refresh
    1800        ; Retry
    604800      ; Expire
    86400       ; Minimum TTL
)

@       IN  NS  ns1.{{ dns_domain }}.
@       IN  A   192.168.1.2
ns1     IN  A   192.168.1.2